<!DOCTYPE html>
<html lang="en">
<head>
  <title>My History</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Personal Details</h2>        
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>EmailId</th>
        <th>Address</th>
        <th>Contact No</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < updateInfo.length; i++) { %>
    <tr>
    <td><b><%= updateInfo[i].username %></b></td>
    <td><b><%= updateInfo[i].mailid %></b></td>
    <td><b><%= updateInfo[i].address %></b></td>
    <td><b><%= updateInfo[i].mobile %></b></td>
    </tr>
    <% } %>
  </tbody>
  </table>
</div>
</body>
</html>
